@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    base
}

<style>
    .text-center {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about our company<a href="https://safedock.org/">Building Web apps with ASP.NET Core</a>.</p>
</div>
